<div class="hero-image">
  <div class="col-md-12 hero-text">
    <% if current_user && current_user.confirmed_at? %>
    <h1>Thank you for signing <%= current_user.name %>!</h1><br>
    <p>Would you consider making a donation to support this petition?</p>
    <p>All money raised will go toward hiring the most viscous
    and talented lawyers and lobbyists to prevent treasonist republicans from
    holding office. </p>
    <button
      id="checkout-button-price_1HLxx5IwQF905tIWGTsnpjBa"
      role="link"
      type="button"
    >
      $3
    </button>
    <button
      id="checkout-button-price_1HLxx5IwQF905tIW7PYAJhoX"
      role="link"
      type="button"
    >
      $5
    </button>
    <button
        id="checkout-button-price_1HLxx5IwQF905tIWiL7VXj04"
        role="link"
        type="button"
      >
        $10
      </button>
    <button
      id="checkout-button-price_1HLxx5IwQF905tIWgitKjq2i"
      role="link"
      type="button"
    >
      $20
    </button>
    <button
      id="checkout-button-price_1HLxx5IwQF905tIWgitKjq2i"
      role="link"
      type="button"
    >
      $100
    </button>

    <% else %>
    <h1>Do not seat the traitorous 126!</h1><br>
    <h4>Please sign to support Rep. Pascrell's request asking Nancy
      Pelosi to <h4>refrain from seating members who are objecting to the free
      and fair election of 2020! </h4>
    <% end %>
    <br>
    <p class="text-center"> The power of MAGA is that they show up and they're
      really loud.  Let's show them resistors can be loud and proud as well.

  </div>
</div>


<div class="col-md-11 centercontainer">
<div class="row">
<div class="col-md-7">
<br>
  <div class="col-md-2 animated jackInTheBox">
  <p align="left"><%= image_tag "pascrell_avatar.jpg", class: "showpic" %>
</div>

  <%= image_tag "pascrell_statement.jpeg", width: "100%" %>

</div>

<!-- Box Right -->
<div class="col-md-4 shadowcontainer">
  <p class="text-center"> <%= User.confirmed.count %> people have signed this petition.</p>
  <div class="marq">
<marquee onmouseover="this.stop();" onmouseout="this.start();">
           <div class="marquee">
             <% @users.confirmed.each do |user| %>
             <a><%= user.name %></a>&nbsp&nbsp&nbsp&nbsp&nbsp
             <% end %>
          </div>
 </marquee>
</div><br>

<% if current_user && current_user.confirmed_at? %>

<h3 class="text-center">Hey <%= current_user.name %>, thank you!</h3>

<% if current_user && current_user.comments? %>
<br><h4>Thank you for leaving a comment!</h4>

<% else %>

<p>Please leave a comment and consider making a donation.
Your input is very valuable in making our case.  Donations will be used
to maintain this site and help fund our efforts to rid the US Congress
of the treasonous 126.</p>

<% end %>

<br>
<p>Petition signed as <strong><%= current_user.email %></strong>.
<%= link_to "Not you?", destroy_user_session_path,
method: :delete, :class => 'navbar-link'  %></p>

<% else %>
<%= render :template => 'devise/registrations/new'  %>
<% end %>

<% if current_user && current_user.comments.blank? %>
<%= render :template => 'devise/registrations/edit'  %>
<% else %>
<% if current_user && current_user.confirmed_at.blank? %>
  <%= render :template => 'devise/registrations/new'  %>
<% end %>
<% end %>

</div>
</div>
</div></div>

<!-- Comments -->
<br>
<div class="col-md-11 centercontainer">
<!-- Comments -->
<br>
<div class="col-md-12"><br>
  <h3>Reasons for Signing This Petition:</h3>
  <br>
  <% @users.withcomments.each do |user| %>

  <%= image_tag avatar_path(user), height: 70, width: 70, class: "roundavatar" %>&nbsp&nbsp
  <%= user.name %>
  <br><br>
  <p><%= user.comments %></p>
<hr>
  <% end %>
</div>
<br><br>
</div>



<script>
(function() {
  var stripe = Stripe('pk_test_51HLjsHIwQF905tIWtkotx81j9NnIldBZQoEcdHJphRIKu6sNhQSaA3cGqC52lSgIIGofetGotliZB5yCrLDlxRc700tRJIS6RT');

  var checkoutButton = document.getElementById('checkout-button-price_1HLxx5IwQF905tIWGTsnpjBa');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1HLxx5IwQF905tIWGTsnpjBa', quantity: 1}],
      mode: 'payment',
      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'http://localhost:3000/paymentthankyou',
      cancelUrl: 'http://localhost:3000/paymentcanceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>

<script>
(function() {
  var stripe = Stripe('pk_test_51HLjsHIwQF905tIWtkotx81j9NnIldBZQoEcdHJphRIKu6sNhQSaA3cGqC52lSgIIGofetGotliZB5yCrLDlxRc700tRJIS6RT');

  var checkoutButton = document.getElementById('checkout-button-price_1HLxx5IwQF905tIW7PYAJhoX');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1HLxx5IwQF905tIW7PYAJhoX', quantity: 1}],
      mode: 'payment',
      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: window.location.protocol + '//localhost:3000/paymentthankyou',
      cancelUrl: window.location.protocol + '//localhost:3000/paymentcanceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>

<script>
(function() {
  var stripe = Stripe('pk_test_51HLjsHIwQF905tIWtkotx81j9NnIldBZQoEcdHJphRIKu6sNhQSaA3cGqC52lSgIIGofetGotliZB5yCrLDlxRc700tRJIS6RT');

  var checkoutButton = document.getElementById('checkout-button-price_1HLxx5IwQF905tIWiL7VXj04');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1HLxx5IwQF905tIWiL7VXj04', quantity: 1}],
      mode: 'payment',
      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'http://localhost:3000/paymentthankyou',
      cancelUrl: 'http://localhost:3000/paymentcanceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>

<script>
(function() {
  var stripe = Stripe('pk_test_51HLjsHIwQF905tIWtkotx81j9NnIldBZQoEcdHJphRIKu6sNhQSaA3cGqC52lSgIIGofetGotliZB5yCrLDlxRc700tRJIS6RT');

  var checkoutButton = document.getElementById('checkout-button-price_1HLxx5IwQF905tIWgitKjq2i');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1HLxx5IwQF905tIWgitKjq2i', quantity: 1}],
      mode: 'payment',
      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'http://localhost:3000/paymentthankyou',
      cancelUrl: 'http://localhost:3000/paymentcanceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>

<script>
(function() {
  var stripe = Stripe('pk_test_51HLjsHIwQF905tIWtkotx81j9NnIldBZQoEcdHJphRIKu6sNhQSaA3cGqC52lSgIIGofetGotliZB5yCrLDlxRc700tRJIS6RT');

  var checkoutButton = document.getElementById('checkout-button-price_1HLxx5IwQF905tIWshGwr9Al');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1HLxx5IwQF905tIWshGwr9Al', quantity: 1}],
      mode: 'payment',
      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'http://localhost:3000/paymentthankyou',
      cancelUrl: 'http://localhost:3000/paymentcanceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>

<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-price_1HLxx5IwQF905tIWgitKjq2i"
  role="link"
  type="button"
>
  Checkout
</button>

<div id="error-message"></div>

<script>
(function() {
  var stripe = Stripe('pk_test_51HLjsHIwQF905tIWtkotx81j9NnIldBZQoEcdHJphRIKu6sNhQSaA3cGqC52lSgIIGofetGotliZB5yCrLDlxRc700tRJIS6RT');

  var checkoutButton = document.getElementById('checkout-button-price_1HLxx5IwQF905tIWgitKjq2i');
  checkoutButton.addEventListener('click', function () {
    /*
     * When the customer clicks on the button, redirect
     * them to Checkout.
     */
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1HLxx5IwQF905tIWgitKjq2i', quantity: 1}],
      mode: 'payment',
      /*
       * Do not rely on the redirect to the successUrl for fulfilling
       * purchases, customers may not always reach the success_url after
       * a successful payment.
       * Instead use one of the strategies described in
       * https://stripe.com/docs/payments/checkout/fulfill-orders
       */
       successUrl: 'http://localhost:3000/paymentthankyou',
       cancelUrl: 'http://localhost:3000/paymentcanceled',
    })
    .then(function (result) {
      if (result.error) {
        /*
         * If `redirectToCheckout` fails due to a browser or network
         * error, display the localized error message to your customer.
         */
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>
