<% if current_user %>

<div class="hero-image">
  <div class="hero-text">
    <h4>Thank you for your support <%= current_user.first_name %>!</h4>
    <p>The people of this country are about to torment the Trumps
      the best way possible:  through their money!</p>
    <p>We'll email you when we're ready to complete pledges.</p>

    <a href="http://twitter.com/share?text=Torment%20Trump,%20join%20me%20#trumpdebt%20&url=http:localhost:3000">
      <i class="fab fa-twitter"> #trumpdebtcollectors</i></a>
<br><br>

    <h5 class="text-center"> <%= @users.pledged.pledged.count %> people have pledged
      <%= number_to_currency(@users.pledged.sum(&:pledge)) %> so far.</h5>
    <div class="hero-marq">
  <marquee onmouseover="this.stop();" onmouseout="this.start();">
             <div class="marquee">
               <% @users.pledged.each do |user| %>
               <a><%= user.first_name %></a>&nbsp
               <a>$<%= user.pledge %></a>&nbsp&nbsp&nbsp&nbsp&nbsp
              <% end %>
            </div>
   </marquee>
  </div>

   <p>Email verified as <strong><%= current_user.email %></strong>.
   <%= link_to "Not you or use a different email?", destroy_user_session_path,
   method: :delete, :class => 'navbar-link'  %></p>


</div></div>


<div class="col-md-11 centercontainer">
<!-- Comments -->
<br>
<div class="col-md-12"><br>
  <% if current_user && current_user.comments.blank? %>
  <p>Please leave a comment and consider making a donation.
  Your input is very important to me.  Donations will be used
  to maintain this site and for hosting on Heroku. The more
  interest we get, the more it cost.</p>
  <%= render :template => 'devise/registrations/edit'  %>
  <% end %>

  <h3>Reasons for Pledging:</h3>
  <br>
  <% @users.withcomments.each do |user| %>

  <%= image_tag avatar_path(user), height: 70, width: 70, class: "roundavatar" %>&nbsp&nbsp
  <%= user.first_name %>
  <br><br>
  <p><%= user.comments %></p>
<hr>
  <% end %>
</div>
<br><br>
</div>

<% else %>

Please find us at the home page.

<% end %>
