<%= form_with(model: donation, local: true) do |form| %>
  <% if donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.number_field :amount, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if donation.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', donation, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if donation.persisted? %>
      <%= link_to "Cancel", donation, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", donations_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
